.container-home-page {
  height: 100vh;
  background-color: #f5f5f5;
}
.home-logo {
  font-size: 90px;
  font-weight: bold;
}
.te-2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4px;
}
.chair-bg-container {
  height: 70vh;
  width: 80%;
  position: relative;
}
.chair-bg-container img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.offer-box {
  height: 70px;
  width: 80px;
  position: absolute;
  top: 70%;
  left: 10%;
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 80%;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  background-color: #bb976d;
}
.container-product-category {
  height: 100vh;
}
.sofa-logo {
  height: 100px;
  width: 100px;
}
.sofa-logo img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  filter: drop-shadow(0 10px 5px rgb(77, 71, 72));
}
.product-slider {
  height: 270px;
  position: relative;
}
.cat-img {
  height: 100%;
  background-color: #f5f5f5;
}
.arr-btn {
  width: 70px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 40%;
}
.ritbtn {
  right: 0;
}
.cat-img img {
  height: 270px;
  width: 100%;
  object-fit: contain;
}
.product-details-box {
  height: 100px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.new-product-banner {
  height: 300px;
}
.new-item-card-banner {
  height: 450px;
}
.new-img {
  height: 300px;
  position: relative;
}
.new-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.badge-1 {
  position: absolute;
  height: 25px;
  width: 70px;
  border-radius: 10px;
  background-color: #bb976d;
  top: 10px;
  left: 20px;
}
.badge-1 small {
  font-size: 12px;
}
.why-choose-container {
  height: 100vh;
  background-image: url("../img/hh.jpg");
  background-position: center;
  background-size: cover;
}
.overlay-2 {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
}
.thumbs-logo {
  height: 100px;
  width: 100px;
}
.thumbs-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-why {
  height: 250px;
}
.feature-product {
  min-height: 100vh;
}
